# Ignorar todo por defecto
/*

# Excepto plugins y themes
!.gitignore
!/plugins/
!/plugins/billetera-catalog/
!/plugins/billetera-setup/
!/plugins/crear-usuarios-masivo/
!/plugins/hyundai-usuarios/
!/themes/
!/themes/billetera-app/
!/.github/

# Ignorar carpetas de caché/sistema
uploads/
ai1wm-backups/
upgrade/
upgrade-temp-backup/
