# Ignorar todo por defecto
/*

# Excepto plugins y themes
!.gitignore
!plugins/billetara-catalog/
!plugins/billetara-setup/
!plugins/crear-usuarios-masivo/
!plugins/hyundai-usuarios/
!themes/billettera-app/
!.github/

# Ignorar carpetas de caché/sistema
uploads/
ai1wm-backups/
upgrade/
upgrade-temp-backup/
